global_defs {
    enable_script_security
    script_user keepalived_script
}

vrrp_script check_haproxy {                 
    script "/home/keepalived_script/keepalived_script"
    weight 20                              
    interval 1               
}
vrrp_instance XXX {             
    interface ens3
    virtual_router_id 3
    {% if inventory_hostname == 'timnet238-1' %}
    priority 100
    {% else %}
    priority 90
    {% endif %}
    advert_int 1 
    preempt
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_pass }}
    }                
    virtual_ipaddress {                     
    {% if hostvars['timnet238-1']['ansible_default_ipv4']['address'] is match('192.168.42.*') %}
        192.168.100.{{ hostvars['timnet238-1']['ansible_default_ipv4']['address'].split('.')[-1] }}/24
    {% elif hostvars['timnet238-1']['ansible_default_ipv4']['address'] is match('192.168.43.*') %}
        192.168.101.{{ hostvars['timnet238-1']['ansible_default_ipv4']['address'].split('.')[-1] }}/24
    {% endif %}                   
    }
    unicast_peer {                          
        {% for vm in groups['HA_servers']  %}
        {% if inventory_hostname  != vm %}
          {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
    }
    track_script {
        check_haproxy
    }
}
