options {
  directory "/var/cache/bind";
  forwarders {
    {% for i in dns_forwarders %}
    {{ i }};
    {% endfor %}  
  };
    
  allow-query { {{ local_network }}; {{ localhost_address }}; {{ docker_network }}; };
  dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer.key" {
	algorithm hmac-sha256;
	secret "{{ dns_transfer_key_secret }}";
};

key "nsupdate.key" {
	algorithm hmac-sha256;
	secret "{{ nsupdate_key_secret }}";
};
