$TTL	604800
clickit.io.	IN	SOA	vm2.clickit.io. ilja.clickit.io. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{% for vm in groups['dns_servers'] %}
clickit.io.	IN	NS	{{ vm }}
{% endfor %}

{% for vm in groups['all'] %}
{{ vm }}	IN	A	{{ hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor %}
