global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ['localhost:9090']

  - job_name: linux
    static_configs:
      - targets:
          - 'www_1:9100'
          - 'www_2:9100'
          - 'grafana:9100'

  - job_name: bind9
    static_configs:
      - targets:
          - 'ns_1:{{ bind9_prom_port }}'
          - 'ns_2:{{ bind9_prom_port }}'
          - 'ns_3:{{ bind9_prom_port }}'
          
  - job_name: mysql
    static_configs:
      - targets:
          - 'mysql_1:{{ mysql_prom_port }}'
          - 'mysql_2:{{ mysql_prom_port }}'

  - job_name: nginx
    static_configs:
      - targets:
          - 'www_1:{{ nginx_prom_port }}'
          - 'www_2:{{ nginx_prom_port }}'

  - job_name: influxdb
    static_configs:
      - targets:
          - 'influxdb:{{ ifluxdb_prom_port }}'

  - job_name: backup
    static_configs:
      - targets: ['backup.{{ domain_name }}:9111']

  - job_name: haproxy
    static_configs:
      - targets:
          - 'www_1:{{ haproxy_prom_port }}'
          - 'www_2:{{ haproxy_prom_port }}'

  - job_name: keepalived
    static_configs:
      - targets:
          - 'www_1:{{ keepalive_prom_port }}'
          - 'www_2:{{ keepalive_prom_port }}'
